<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/discipline_selector.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<title>Test</title>
</head>
<body>
	<!-- actual code from here -->
	<div class="canvas-outer">
		<div class="canvas-inner">
		<% //for(var j=0; j < course.length; j++){ %>
			<div class="blankspace"></div>
			<!-- <div class="row"> -->
			<% //for(var i=0; i < course[j].length; i++){ %>

			<%// } %>
			<!-- </div> -->
		<% //} %>
	</div>
	<script type="text/javascript" src="scripts/discipline_selector.js"></script>
	<!-- to here, the rest is just temporary filler so that everything works -->
</body>
</html>