	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a href="/" class="navbar-brand"><i class="fa fa-address-card" aria-hidden="true"></i>Dança das Cadeiras</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
	        	<button class="btn btn-block dropdown-toggle" id="login-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entrar</button>
	        </li>
		</ul>
	</nav>
	<div class="row dropdown-form hide">
		<div class="spacing">
			<form class="dropdown-form alert alert-custom" action="/login" method="POST">
				<input type="email" name="email" placeholder="Email" class="form-control dropdown-input">
				<input type="password" name="password" placeholder="Senha" class="form-control dropdown-input">
				<button class="btn btn-block" id="dropdown-submit">Entrar</button>
			</form>
		</div>
	</div>
	<script src="scripts/lib/navbar-unlogged.js" type="text/javascript"></script>