.row {
	
	display: relative;
	border-spacing: 15px;
}

.discipline {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin-right: 20px;
}

p.discipline-name {
	margin: 0;
    white-space: normal;
}

.canvas-outer {
	overflow: scroll; 
	width: 100%; 
	height: 500px;
}

.canvas-inner {
	position: relative;
	width: 3000px;
}

div.discipline-centralize{
	/*centraliza verticalmente*/
}