/*@import url('https://fonts.googleapis.com/css?family=Lato');
body {
	font-family: 'Lato';
}*/

nav {
	background-color: #489FDF;
}

.navbar-brand {
	color: white;
}

form {
	margin-top: 45px;
}

.row {
	margin-top: 100px;
	height: 400px;
}

#login-form-div {
	border-right: 2px solid black;
}

#cic-button {
	margin-top: 45px;
	margin-bottom: 25px;
}

#ecp-button {
	margin-top: 25px;
	margin-bottom: 45px;
}

#user-email, #user-password {
	max-width: 75%;
}

#courses-buttons-div button {
	font-size: 2em;
	white-space: normal;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 130px;
}

#courses-buttons-div a{ /*the courses buttons must not be underlined when mouse hover over them*/
	text-decoration: none;
}