/*@import url('https://fonts.googleapis.com/css?family=Lato');
body {
	font-family: 'Lato';
}*/

/* navbar related*/
nav {
	background-color: #489FDF;
}

.navbar-header {
	margin-left: 2%;
}

.navbar-brand {
	color: white;
}
/*end navbar*/

/* row */
.row {
	margin-top: 100px;
	height: 400px;
}

	/*login form related*/
	form {
		margin-top: 45px;
	}

	#user-email, #user-password {
		max-width: 75%;
	}

	#login-form-div {
		border-right: 1px solid gray;
		borde
	}


	/*courses buttons related*/
	#courses-buttons-div {
		border-left: 1px solid gray;
		border-
	}

	#courses-buttons-div button {
		font-size: 2em;
		white-space: normal;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		height: 130px;
	}

	/*remove the underline from courses buttons when mouse hover over them*/
	#courses-buttons-div a{ 
		text-decoration: none;
	}

	#cic-button {
		margin-top: 45px;
		margin-bottom: 25px;
	}

	#ecp-button {
		margin-top: 25px;
		margin-bottom: 45px;
	}
/*end row*/