.row {
	height: 400px;
}

.row div:nth-of-type(2) {
	background-color: pink;
}

#login-form-div {
	border-right: 2px solid black;
}

#courses-buttons-div {

}

#cic-button {
	margin-top: 45px;
	margin-bottom: 25px;
}

#ecp-button {
	margin-top: 25px;
	margin-bottom: 45px;
}

#courses-buttons-div button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 130px;
}

