<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/forgot_your_password_email_sent.css">
	<link rel="stylesheet" type="text/css" href="assets/css/base_styling.css">
	<title>Forgot Your Password</title>
</head>
<body>

<!--<% include partials/navbar-unlogged.html %>-->
<!--temporary navbar-->
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a href="/" class="navbar-brand"><i class="fa fa-address-card" aria-hidden="true"></i>Dança das Cadeiras</a>
		</div>
			<ul class="navbar navbar-nav navbar-right">
				<li>Contact</li>
			</ul>
		</div>
	</nav>

	<div class="row">
		<div class="col-md-2 col-sm-0"></div>
		<div class="col-md-8 col-sm-12">
			<div class="jumbotron">
				<p>Um email foi enviado com sucesso para sua conta.</p>
			</div>
		</div>
	</div>
</body>
</html>