<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/base_styling.css">
	<link rel="stylesheet" type="text/css" href="css/register.css">
	<title>Dança das Cadeiras - Registrar</title>
</head>
<body>
	<% include partials/navbar-unlogged.html %>
	<div class="row">
		<div class="col-md-2 col-sm-0"></div>
		<div class="col-md-8 col-sm-12">
			<form class="container" action="" method="post">
				<div class="form-group">
					<div class="jumbotron">
						<p>Preencha todas as informações para se cadastrar</p>
						<hr>
					</div>
				</div>
				<div class="form-group">
					<input type="text" id="user-name" name="username" class="form-control" placeholder="Nome Completo" required>
					<div class="alert alert-danger" id="invalid-name">
						Nome de usuário inválido. É permitido usar apenas letras de a-z, A-Z, numeros de 0-9, e os caracteres <span id="username-special-characters"></span>
					</div>
				</div>
				<div class="form-group">
					<input type="email" id="user-email" name="email"  class="form-control" placeholder= "Endereço de Email" required>
					<div class="alert alert-danger" id="invalid-email">
						Email inválido. É permitido usar apenas letras de a-z, A-Z, numeros de 0-9, e os caracteres <span id="email-special-characters"></span>
					</div>
				</div>
				<div class="form-group">
					<input type="password" id="user-password" name="password" class="form-control" placeholder="Senha (6-30 dígitos)"  pattern=".{6,30}" title="Password must be between 6 and 30 characters" required>
					<div class="alert alert-danger" id="invalid-password">
						Senha inválida. É permitido usar apenas letras de a-z, A-Z, numeros de 0-9, e os caracteres <span id="password-special-characters"></span>
					</div>
				</div>
				<div class="form-group">
					<select class="custom-select" name="course">
						<option>Ciência da Computação</option>
						<option>Engenharia da Computação</option>
					</select>
				</div>
				<div class="form-group">
					<div class="btn-group" data-toggle="buttons">
						<span id="internship-header">Estágio/bolsa (horas):</span>
						<label class="custom-control custom-radio">
							<input name="internship" type="radio" class="custom-control-input" value="0" checked>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Não faço</span>
						</label>
						<label class="custom-control custom-radio">
							<input name="internship" type="radio" class="custom-control-input" value="40">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">40h</span>
						</label>
						<label class="custom-control custom-radio">
							<input name="internship" type="radio" class="custom-control-input" value="30">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">30h</span>
						</label>
						<label class="custom-control custom-radio">
							<input name="internship" type="radio" class="custom-control-input" value="20">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">20h</span>
						</label>
						<label class="custom-control custom-radio">
							<input name="internship" type="radio" class="custom-control-input" value="16">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">16h</span>
						</label>
						<label class="custom-control custom-radio">
							<input name="internship" type="radio" class="custom-control-input" value="<16">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">menos que 16h</span>
						</label>
					</div>
				</div>
				<button type="submit" class="btn" id="submit">Enviar</button>
			</form>
		</div>
	</div>
	<script src="scripts/lib/validation.js" type="text/javascript"></script>
	<script src="scripts/register.js" type="text/javascript"></script>
</body>
</html>