<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="assets/css/reset_password.css">
	<link rel="stylesheet" type="text/css" href="assets/css/base_styling.css">
	<title>Reset Password</title>
</head>
<body>

<!--<% include partials/navbar-unlogged.html %>-->

	<div class="row">
		<div class="col-md-3 col-sm-0"></div>
		<div class="col-md-6 col-sm-12">
			<div class="container">
				<form action="/change_password" method="POST">
					<div class="form-group">
						<label>Digite nova senha:</label>
							<input type="password" name="password" id="new-password" class="form-control" placeholder="Senha" required>
					</div>
					<div class="form-group">
						<label>Confirme nova senha:</label>
							<input type="password" id="new-password-confirmation" class="form-control" placeholder="Senha" required>
					</div>
					<div class="form-group">
						<button class="btn">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>