<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/test.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<title>Test</title>
</head>
<body>
	<div class="canvas-outer">
		<div class="canvas-inner">
		<% for(var j=0; j < 2; j++){ %>
			<div class="row">
			<% for(var i=0; i < 5; i++){ %>
				<div class="discipline btn btn-primary btn-lg" style="width: <%= 300 %>px; height: 150px;">
					<div class="discipline-centralize">
						<span class="discipline-code">INF01121</span>
						<br>
						<p class="discipline-name">Modelos de Linguagens de Programação</p>
						<span class="discipline-teacher">Lucas Mello Schnorr</span>
						<br>
						<span class="discipline-credits">Créditos: 4</span>
					</div>
				</div>
			<% } %>
			</div>
		<% } %>
		<!-- diff one -> delete -->
			<div class="row">
				<div class="discipline btn btn-primary btn-lg" style=" width: <%= 300 %>px; height: 150px;">
					<span class="discipline-code">FIS01181</span>
					<br>
					<span class="discipline-name">Fisica I - C</span>
					<br>
					<span class="discipline-teacher">Leila Ribeiro</span>
					<br>
					<span class="discipline-credits">Créditos: 4</span>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="scripts/test.js"></script>
</body>
</html>